# La clase DataFrame

Un `DataFrame` es una agrupación de `Series` unidas bajo los mismos índices dando como resultado estructuras similares a tablas donde representar todo tipo de información.

Cada serie del `DataFrame` se puede considerar una columna a la cuál podemos establecer un nombre:

In [1]:
import pandas as pd
import numpy as np

array = np.random.randint(-10, 10, size=[4,4])

df = pd.DataFrame(array, index=['A','B','C','D'], columns=['W','X','Y','Z'])

In [2]:
# Representación en jupyter
df

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5
D -8 -6 -5  6

In [3]:
# Representación por pantalla
print(df)

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5
D -8 -6 -5  6

In [4]:
# Tipo de un df
type(df)

pandas.core.frame.DataFrame

## Trabajando con DataFrames

Podemos consultar una columna mediante su nombre:

In [5]:
df['X']

A    8
B   -3
C    0
D   -6
Name: X, dtype: int32

Como vemos una columna es en realidad una serie:

In [6]:
type(df['X'])

pandas.core.series.Series

También podemos consultar varias columnas pasando una lista con los nombres:

In [7]:
df[['Y','Z']]

   Y  Z
A  1  9
B -2 -8
C  3 -5
D -5  6

### Añadir una columna

In [8]:
df['TOTAL'] = df['W'] + df['X'] + df['Y'] + df['Z']

In [9]:
df

   W  X  Y  Z  TOTAL
A -1  8  1  9     17
B  4 -3 -2 -8     -9
C  1  0  3 -5     -1
D -8 -6 -5  6    -13

### Borrar una columna

In [10]:
df.drop('TOTAL', axis=1) #solo borra en visual, pero mantiene la info en el dataframe original

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5
D -8 -6 -5  6

In [11]:
# No se modifica el df original
df

   W  X  Y  Z  TOTAL
A -1  8  1  9     17
B  4 -3 -2 -8     -9
C  1  0  3 -5     -1
D -8 -6 -5  6    -13

In [12]:
# A no ser que le indiquemos explícitamente, esta es la forma de borrar en el original
df.drop('TOTAL', axis=1, inplace=True)

df

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5
D -8 -6 -5  6

### Borrar una fila

In [13]:
df.drop('D', axis=0)

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5

### Seleccionar filas

In [14]:
df.loc['C']

W    1
X    0
Y    3
Z   -5
Name: C, dtype: int32

También podemos utilizar el índice:

In [15]:
df.iloc[2]

W    1
X    0
Y    3
Z   -5
Name: C, dtype: int32

### Seleccionar subset

In [16]:
# Fila C y columna Z 
df.loc['C','Z']

-5

In [17]:
# Filas A,B y columnas W,Y
df.loc[['A','B'],['W','Y']]

   W  Y
A -1  1
B  4 -2

## Selección condicionada

Una de las mayores utilidades de los `DataFrames` es su capacidad para realizar consultas condicionadas:

In [18]:
df

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5
D -8 -6 -5  6

In [19]:
# Registros >0
df>0

       W      X      Y      Z
A  False   True   True   True
B   True  False  False  False
C   True  False   True  False
D  False  False  False   True

In [20]:
# Valor de los registros >0
df[df>0]

     W    X    Y    Z
A  NaN  8.0  1.0  9.0
B  4.0  NaN  NaN  NaN
C  1.0  NaN  3.0  NaN
D  NaN  NaN  NaN  6.0

In [21]:
# Valor de los registros cuando X>0
df[df['X']>0]

   W  X  Y  Z
A -1  8  1  9

In [22]:
# Valor de los registros en las columnas Y,Z si X>0
df[df['X']>0][['Y','Z']]

   Y  Z
A  1  9

Podemos unir condiciones usando los operadores `or` con `|` y `and` con `&`:

In [23]:
# Valor de los registros cuando X>0 o Z<0
df[(df['X']>0) | (df['Z'] < 0)]

   W  X  Y  Z
A -1  8  1  9
B  4 -3 -2 -8
C  1  0  3 -5

In [24]:
# Valor de los registros en las columnas W e Y cuando X>0 o Z<0
df[(df['X']>0) | (df['Z'] < 0)][['W','Y']]

   W  Y
A -1  1
B  4 -2
C  1  3

## Modificar índices

In [ ]:
# Creamos de nuevo el dataframe
array = np.random.uniform(-10, 10, size=[4,4])
df = pd.DataFrame(array, index=['A','B','C','D'], columns=['W','X','Y','Z'])
df

In [ ]:
# Añadimos una nueva Serie con el nombre de los índices
df['Códigos'] = ['AA','BB','CC','DD']

df

In [ ]:
# Substituimos los índices de las filas
df.set_index('Códigos')

In [ ]:
# No se guardan por defecto
df

In [ ]:
# A no ser que lo especifiquemos explícitamente
df.set_index('Códigos', inplace=True)

df

In [ ]:
print(df)

In [ ]:
# consultamos una fila con el nuevo índice
df.loc['AA']

### Índices por defecto

In [ ]:
# Reiniciamos los índices y borramos los anteriores explícitamente
df.reset_index(drop=True, inplace=True)

df

Esto es solo la punta del iceberg, para más información sobre la clase `DataFrame` tenéis la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).