# Entradas y salidas

In [1]:
import numpy as np
import pandas as pd

# Definimos un dataframe con datos de ejemplos
df = pd.DataFrame(np.random.randn(10, 5), columns=["A", "B", "C", "D", "E"])

df

          A         B         C         D         E
0 -0.032638 -0.576276  0.044936 -1.120767 -1.421207
1 -0.967186  0.283646 -0.428528 -0.274354 -0.824286
2  1.553163  1.201460 -1.461453  1.880699  0.608214
3 -1.383589 -0.324864  1.959978 -0.307506 -1.014630
4 -2.143400 -0.419982 -1.041489 -0.992970 -1.106344
5  0.242120 -1.138762 -1.778943  1.481934 -0.263484
6  0.555825  0.378123  0.065766 -0.101631 -0.033723
7 -0.005964 -0.317730  0.746436  0.409477  1.039785
8  1.523489  1.085605 -0.605893 -0.707542 -0.563263
9 -1.250489 -0.418874  0.520129  0.939244  0.070797

## CSV

### Guardar a CSV

In [2]:
df.to_csv('datos.csv', index=False)

In [3]:
# Borramos el df de la memoria
del(df)

### Cargar desde CSV

In [4]:
df = pd.read_csv('datos.csv')

df

          A         B         C         D         E
0 -0.032638 -0.576276  0.044936 -1.120767 -1.421207
1 -0.967186  0.283646 -0.428528 -0.274354 -0.824286
2  1.553163  1.201460 -1.461453  1.880699  0.608214
3 -1.383589 -0.324864  1.959978 -0.307506 -1.014630
4 -2.143400 -0.419982 -1.041489 -0.992970 -1.106344
5  0.242120 -1.138762 -1.778943  1.481934 -0.263484
6  0.555825  0.378123  0.065766 -0.101631 -0.033723
7 -0.005964 -0.317730  0.746436  0.409477  1.039785
8  1.523489  1.085605 -0.605893 -0.707542 -0.563263
9 -1.250489 -0.418874  0.520129  0.939244  0.070797

## JSON

### Guardar a JSON

In [6]:
df.to_json('datos.json')

In [7]:
# Borramos el df de la memoria
del(df)

### Cargar desde JSON

In [8]:
df = pd.read_json('datos.json')

df

          A         B         C         D         E
0 -0.032638 -0.576276  0.044936 -1.120767 -1.421207
1 -0.967186  0.283646 -0.428528 -0.274354 -0.824286
2  1.553163  1.201460 -1.461453  1.880699  0.608214
3 -1.383589 -0.324864  1.959978 -0.307506 -1.014630
4 -2.143400 -0.419982 -1.041489 -0.992970 -1.106344
5  0.242120 -1.138762 -1.778943  1.481934 -0.263484
6  0.555825  0.378123  0.065766 -0.101631 -0.033723
7 -0.005964 -0.317730  0.746436  0.409477  1.039785
8  1.523489  1.085605 -0.605893 -0.707542 -0.563263
9 -1.250489 -0.418874  0.520129  0.939244  0.070797

## Excel

Necesitamos instalar el módulo `openpyxl` para generar y leer este formato:

    pip install openpyxl

In [9]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.0 kB ? eta -:--:--
   ------------ -------------------------- 81.9/250.0 kB 762.6 kB/s eta 0:00:01
   ------------ -------------------------- 81.9/250.0 kB 762.6 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.0 kB 980.4 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.0 kB 980.4 kB/s eta 0:00:01
   -------------------------------------  245.8/250.0 kB 885.4 kB/s eta 0:00:01
   -------------------------------------- 250.0/250.0 kB 850.2 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

### Guardar a Excel

In [10]:
df.to_excel('datos.xlsx', sheet_name='Sheet1', index=False)

In [11]:
# Borramos el df de la memoria
del(df)

### Cargar desde Excel

In [12]:
df = pd.read_excel('datos.xlsx', sheet_name='Sheet1')

df

          A         B         C         D         E
0 -0.032638 -0.576276  0.044936 -1.120767 -1.421207
1 -0.967186  0.283646 -0.428528 -0.274354 -0.824286
2  1.553163  1.201460 -1.461453  1.880699  0.608214
3 -1.383589 -0.324864  1.959978 -0.307506 -1.014630
4 -2.143400 -0.419982 -1.041489 -0.992970 -1.106344
5  0.242120 -1.138762 -1.778943  1.481934 -0.263484
6  0.555825  0.378123  0.065766 -0.101631 -0.033723
7 -0.005964 -0.317730  0.746436  0.409477  1.039785
8  1.523489  1.085605 -0.605893 -0.707542 -0.563263
9 -1.250489 -0.418874  0.520129  0.939244  0.070797

Con `Matplotlib`, que aprenderemos en la próxima sección, podemos graficar estos resultados fácilmente:

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = 10,5

fertility_rate.mean()[1:].plot(kind='line', xlabel="Períodos", ylabel="Media de natalidad mundial")

La práctica hace el maestro, os animo a hacer vuestras propias pruebas y googlear cualquier cosa que se os ocurra para aprender mucho más.