# Estudio de emisiones de Dioxido de Carbono

## Estudiante: Daniela Barrios Leitón

## Objetivo

Cargar un archivo 'Carbon_Dioxide_Emission_Estimates.csv' responder las siguientes preguntas

In [10]:
import pandas as pd

df = pd.read_csv('Carbon_Dioxide_Emission_Estimates.csv', decimal='.', thousands=',')

print(df.head())
print(df.info())

   Country  Year                                               Type     Value
0  Albania  1975  Emissions (thousand metric tons of carbon diox...  4338.334
1  Albania  1985  Emissions (thousand metric tons of carbon diox...  6929.926
2  Albania  1995  Emissions (thousand metric tons of carbon diox...  1848.549
3  Albania  2005  Emissions (thousand metric tons of carbon diox...  3825.184
4  Albania  2010  Emissions (thousand metric tons of carbon diox...  3930.295
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2132 non-null   object
 1   Year     2132 non-null   int64
 2   Type     2132 non-null   object
 3   Value    2132 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 66.8+ KB
None

## Contexto

Se tiene un set de datos contenido en un archivo del tipo csv.

El archivo es 'Carbon_Dioxide_Emission_Estimates.csv'.

A continuación se presenta el paso cero para leer del archivo que contiene 2 tipos de filas según sea el valor en la columna 'Type':

- Emissions_thousand__metric_tons_of_carbon_dioxide
- Emissions_per_capita__metric_tons_of_carbon_dioxide

El valor de las emisiones están en medidas de Toneladas métricas de Dióxido de Carbono

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando únicamente las filas cuya columna 'Type' tiene el valor 'Emissions (thousand metric tons of carbon dioxide)'

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)

In [11]:
# Crear los dataframe

# 1. df por 'Emissions (thousand metric tons of carbon dioxide)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

# 2. df por 'Emissions por 'metric tons of carbon dioxide'

df_emisions_co2_per_capita = df[df['Type'] == 'Emissions per capita (metric tons of carbon dioxide)']

#Verificación de la información
print("DataFrame - Emissions (thousand metric tons of carbon dioxide):")
print(df_emisions_co2.head())
 
print("\nDataFrame - metric tons of carbon dioxide:")
print(df_emisions_co2_per_capita.head())

DataFrame - Emissions (thousand metric tons of carbon dioxide):
   Country  Year                                               Type     Value
0  Albania  1975  Emissions (thousand metric tons of carbon diox...  4338.334
1  Albania  1985  Emissions (thousand metric tons of carbon diox...  6929.926
2  Albania  1995  Emissions (thousand metric tons of carbon diox...  1848.549
3  Albania  2005  Emissions (thousand metric tons of carbon diox...  3825.184
4  Albania  2010  Emissions (thousand metric tons of carbon diox...  3930.295

DataFrame - metric tons of carbon dioxide:
    Country  Year                                               Type  Value
8   Albania  1975  Emissions per capita (metric tons of carbon di...  1.804
9   Albania  1985  Emissions per capita (metric tons of carbon di...  2.337
10  Albania  1995  Emissions per capita (metric tons of carbon di...  0.580
11  Albania  2005  Emissions per capita (metric tons of carbon di...  1.270
12  Albania  2010  Emissions per capita (metric tons of carbon di...  1.349

# Pregunta 1

Cuántas filas tiene el dataframe 'df_emisions_co2'?

In [12]:
# Coloque el código que responda a la pregunta aqui
df_emisions_co2.shape

(1066, 4)

# Pregunta 2

Cuál en el valor más alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [15]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_emisions_co2_max =df_emisions_co2['Value'].max()

#imprime el dato
print('El valor más alto de emisiones es: ', df_emisions_co2_max)

El valor más alto de emisiones es:  9257933.9

# Pregunta 3

Cuántos países (Countries) hay en el dataframe 'df_emisions_co2'?

In [16]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
paises =df_emisions_co2['Country'].nunique()

#imprime el dato
print('La cantidad de paises es:', paises)

La cantidad de paises es: 142

In [22]:
#Imprima un lista con todos los paises
paises_lista = df_emisions_co2['Country']
print('Lista de paises:',paises_lista)

Lista de paises: 0        Albania
1        Albania
2        Albania
3        Albania
4        Albania
          ...
2119    Zimbabwe
2120    Zimbabwe
2121    Zimbabwe
2122    Zimbabwe
2123    Zimbabwe
Name: Country, Length: 1066, dtype: object

# Pregunta 4

Cuál es el país que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [27]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta

pais_max = df_emisions_co2['Value'].idxmax()
emision_max = df_emisions_co2.loc[pais_max]
 
# País con mayor emisión
pais_max = emision_max['Country']
valor_emision = emision_max['Value']
 
print(f"El país con la mayor emisión es: {pais_max} con un valor de {valor_emision} toneladas")

El país con la mayor emisión es: China con un valor de 9257933.9 toneladas

# Pregunta 5

Cuál es el año que tiene mayor emisiones para el país de Spain usando el dataframe 'df_emisions_co2'?

In [32]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_spain = df_emisions_co2[df_emisions_co2['Country'] == 'Spain']
emision_maximo_spain = df_spain['Value'].idxmax()
 
 #buscar el máximo solo de España
emision_maximo_spain = df_spain.loc[emision_maximo_spain]
valor_spain = emision_maximo_spain['Value']
anio_spain = emision_maximo_spain['Year'] 
 
# Impresión del resultado 
print(f"El año de mayor emisión de España es: {pais_max} con un valor de {valor_emision} toneladas")

El año de mayor emisión de España es: China con un valor de 9257933.9 toneladas

# Pregunta 6

Cuáles son los años que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los años sin repetirse

In [30]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
anio_lista = df_emisions_co2_per_capita['Year'].unique()
print('Lista de años:',anio_lista)

Lista de años: [1975 1985 1995 2005 2010 2015 2016 2017]

# Pregunta 7

Cuántas son las emisiones en 'toneladas métricas' en total usando todos los países para usando el dataframe 'df_emisions_co2'?

In [33]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
toneladas=df_emisions_co2['Value'].sum()
print(f'La emisión total es: {toneladas} toneladas métricas')

La emisión total es: 195028250.41599998 toneladas métricas

# Pregunta 8

Cuántas son las emisiones en 'toneladas métricas' sólo para Albania usando el dataframe 'df_emisions_co2'?

In [37]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_albania = df_emisions_co2[df_emisions_co2['Country'] == 'Albania']
emision_albania = df_albania['Value'].sum()

print(f'La emisión de Albania es: {emision_albania}, toneladas métricas')

La emisión de Albania es: 32713.283000000003, toneladas métricas

# Pregunta 9

Cuántas son las emisiones en 'libras' sólo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [43]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_cr = df_emisions_co2[df_emisions_co2['Country'] == 'Costa Rica']['Value'].sum()

print(f'La emisión de Costa Rica es: {df_cr*2204,62}, libras')

La emisión de Costa Rica es: (93059727.82800001, 62), libras

# Pregunta 10

Para sólo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del último año reportado. Cuántas son las emisiones en 'Kg' sólo para Costa Rica en el año 2022 usando el dataframe 'df_emisions_co2'?

In [48]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
emisioncr_anio_max= df_emisions_co2[(df_emisions_co2['Country'] == 'Costa Rica')]['Year'].max()

emisioncr_sum=df_emisions_co2.loc[(df_emisions_co2['Country'] == 'Costa Rica') &(df_emisions_co2['Year']== emisioncr_anio_max)]['Value'].sum()

print(f'La emisión de Costa Rica en el 2022: {emisioncr_sum*1000}, kilos')

La emisión de Costa Rica en el 2022: 7584411.0, kilos

# Pregunta 12

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones totales en Centroamérica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_año'

In [49]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_CA=df_emisions_co2.loc[(df_emisions_co2['Country']=='El Salvador') | (df_emisions_co2['Country']=='Honduras') | (df_emisions_co2['Country']=='Guatemala') | (df_emisions_co2['Country']=='Costa Rica')]
df_CA.groupby('Year').sum('Value')

          Value
Year
1975   8011.367
1985   8444.610
1995  18446.522
2005  29530.208
2010  30256.405
2015  38052.429
2016  39253.468
2017  38449.980

# Pregunta 13

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones en promedio en Centroamérica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_año'

In [51]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
df_CA_per=df_emisions_co2_per_capita.loc[(df_emisions_co2_per_capita['Country']=='El Salvador') | (df_emisions_co2_per_capita['Country']=='Honduras') | (df_emisions_co2_per_capita['Country']=='Guatemala') | (df_emisions_co2_per_capita['Country']=='Costa Rica')]
df_CA_per.groupby('Year').mean('Value')

        Value
Year
1975  0.54600
1985  0.45575
1995  0.81700
2005  1.02750
2010  1.00600
2015  1.11375
2016  1.13225
2017  1.09750

# Pregunta 14

Cuál es el promedio de las emisiones per capita para el año 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [53]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
Emision2005 = df_emisions_co2_per_capita[df_emisions_co2_per_capita['Year'] == 2005]['Value'].mean()

print(f'El promedio de las emisiones del 2005 es ', Emision2005)

El promedio de las emisiones del 2005 es  5.29775